<!DOCTYPE html>
<html ng-app='LunchCheck'>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link href='bootstrap.min.css' rel='stylesheet'>
        <script src="angular.min.js"></script>
            <script src="app.js"></script>
            <style>.msg{font-size: 16px;font-weight:bold;}
                </style>

    </head>
    <body>
        <div class='container'>
        <h1>AngularJS Assignment </h1>
        <div ng-controller='LunchCheckController'>
            <input type='text' ng-model="itms" placeholder="please enter items separated by comma (,)" class='form-control' >
<span>Note : Empty spaces not allowed</span><br><br>
<div class='form-group'><button ng-click='chkLnchItms()' class='btn btn-success'>Check if Too much</button></div>
<div class='msg' style="color:{{color}}">{{msg}}
        </div>
</div>
    </body>
</html>
