<!DOCTYPE html>
<html ng-app='LunchCheck'>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="angular.min.js"></script>
            <script src="app.js"></script>
    </head>
    <body>
        <h1>hello world </h1>
        <div ng-controller='LunchCheckController'>
            <input type='text' ng-model="name" placeholder="please enter name here" ng-blur='upper();'>
<p>Your name : {{name}}</p>

<img ng-src='https://rajisuji.github.io/module1-solutions/{{state}}.jpg' style="max-width:200px"> 
<button ng-click='imagechange()'>Change</button>
        </div>

    </body>
</html>
